<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibrary1.Properties.Settings.NorthConnectionString"
            connectionString="Data Source=tcp:eds-azure.database.windows.net;Initial Catalog=Northwind;Persist Security Info=True;User ID=ericsergio;Password=r1gHtCl1ck$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>